*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Bebas Neue', cursive;
    font-size: 16px;
    line-height: 26px;
}
h1, h2, h3, h4, h5, h6, p{
    font-family: 'Alfa Slab One', cursive;
    margin: 0px;
}
a a:hover{
    text-decoration: none;
}

/* header start */
.header{
    width: 100%;
    background: url(../img/banner.png) center top no-repeat;
    background-size: cover;
}
.header .banner{
    width: 100%;
    padding: 80px 0px;
}
.header .navbar .navbar-nav .nav-item .nav-link{
    font-size: 20px;
    letter-spacing: 2px;
    margin-left: 20px;
    color: black;
}

.banner .inner-banner{
    margin-top: 40px;
}
.inner-banner h5{
    font-family: 'Bebas Neue', cursive;
    font-size: 22px;
    line-height: 26px;
    margin: 0px;
    border: 2px dashed;
    display: inline-block;
    padding: 5px 10px;
    letter-spacing: 1px;
}
.inner-banner h1{
    font-size: 75px;
    font-weight: 500;
    margin-top: 10px;
    text-shadow: 4px 4px 2px #fee8bc;
}
.inner-banner h2{
    font-size: 70px;
    font-weight: 500;
    letter-spacing: 2px;
    text-shadow: 4px 4px 2px #fee8bc;
}

/* burger section */
.burger-section{
    width: 100%;
    position: relative;
}
.burger-section .try-it img{
    margin-bottom: 32px;
}
.burger-section .inner-burger .img-2{
    margin-top: 32px;
}
.burger-section .b1-text h5{
    position: absolute;
    font-family: 'Bebas Neue', cursive;
    color: white;
    top: 15%;
    left: 8%;
    letter-spacing: 1px;
    
}
.burger-section .b1-text h3{
    position: absolute;
    font-family: 'Bebas Neue', cursive;
    color: white;
    top: 20%;
    left: 8%;
    letter-spacing: 1px;
    
}
.burger-section .b2-text h5{
    position: absolute;
    font-family: 'Bebas Neue', cursive;
    color: white;
    top: 15%;
    left: 53%;
    letter-spacing: 1px;
    
}
.burger-section .b2-text h3{
    position: absolute;
    font-family: 'Bebas Neue', cursive;
    color: white;
    top: 20%;
    left: 53%;
    letter-spacing: 1px;
    
}
.burger-section .b3-text h5{
    position: absolute;
    font-family: 'Bebas Neue', cursive;
    color: white;
    top: 55%;
    left: 53%;
    letter-spacing: 1px;
    
}
.burger-section .b3-text h3{
    position: absolute;
    font-family: 'Bebas Neue', cursive;
    color: white;
    top: 60%;
    left: 53%;
    letter-spacing: 1px;
    
}

/* ORDER SECTION */
.order-section{
    width: 100%;
    padding: 50px 0px;
}
.order-section .title{
    text-align: center;
}
.order-section .title h3{
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    font-weight: 700;
    background: #FFC135;
    display: inline-block;
    padding: 10px 20px;
    letter-spacing: 2px;
    margin: 0px;
}
.order-section .title h1{
    margin-top: 15px;
    margin-bottom: 15px;
}
.order-section .title p{
    font-family: 'Montserrat', sans-serif;
}
.inner-order h2{
    font-family: 'Bebas Neue', cursive;
    margin-top: 8px;

}
.inner-order p{
    font-family: 'Montserrat', sans-serif;
}
.inner-order .btn{
    background: #bf2222;
    color: white;
    padding: 10px 20px;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 1px;
}
.inner-order .btn:hover, .inner-order .btn:focus{
    background: transparent;
    color: #bf2222;
    border: 2px solid #bf2222;
}
.inner-order .middle-img{
    width: 277px;
}
/* discover start */
.discover .container{
    background: #ffffff;
    box-shadow: 5px 10px 20px 2px #888888;
}

.discover .title h3{
    font-family: 'Bebas Neue', cursive;
}
.discover .title p{
    font-family: 'Montserrat', sans-serif;
}

/* booking start */
.booking .title h4{
    font-family: 'Bebas Neue', cursive;
}
 
.booking form .btn-submit{
    background: #bf2222;
    color: white;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 1px;
}

.booking form .btn-submit:hover, .booking form .btn-submit:focus {
    background: transparent;
    color: #bf2222;
    border: 2px solid #bf2222;
}
.booking form .form-control{
    font-size: 30px;
    padding-left: 25px;
}
.booking{
    position: relative;
}
.booking .side-img .img1{
    width: 23%;
    position: absolute;
    top: -10%;
}
.booking .side-img .img2{
    width: 23%;
    position: absolute;
    left: 78%;
    top: 10%;
}

/* footer star */
.footer{
    background: url(../img/footer.png) center top no-repeat;
    background-size: cover;
}
.footer .inner-footer p{
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.footer .location li{
    list-style: none;
    display:flex
}
.footer .location h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    line-height: 60px;
    color: white;
}
.footer .location .fa-map-marker{
    font-size: 40px;
    color: white;
    margin-top: 8px;
}
.footer .location .road{
    margin-left: 23px;
}
.footer .location .fa-envelope{
    font-size: 30px;
    color: white;
    margin-right: 15px;
    margin-top: 12px;
}
.footer .copyright h4{
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    color: white;
    letter-spacing: 2px;
}
.footer .social-icons{
    text-align: right;
}
.footer .social-icons li{
    list-style: none;
    display: inline-block;
}
.footer .social-icons li .fa{
    font-size: 25px;
    line-height: 50px;
    color: black;
}   
.footer .social-icons li a{
    display: block;
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    text-align: center;
    margin-left: 20px;
}